

.container_page
{
    width: 100%;
    height: 100vh;
    display: grid;
    background: #070012;
    grid-template-columns: 100px repeat(9, 1fr);
    grid-template-rows: 50px auto;
    grid-template-areas: 
     "chanel search search search search search search search section section"
     "chanel Expolore cont cont cont cont cont  cont profile profile";
}
.chatsection {
    width: 100%;
    height: 100vh;
    display: grid;
    background: #070012;
    grid-template-columns: 100px repeat(9, 1fr);
    grid-template-rows: 50px auto;
    grid-template-areas: 
     "chanel search search search search search search search section section"
     "chanel Chat Chat Chat Chat Chat Chat  Chat profile profile";
}
.Chat
{
    background: #070012;
    grid-area: Chat;
}
.chanel
{
    background: #070012;
    grid-area: chanel;
}
.search
{
    background: #070012;
    grid-area: search;
}
.section
{
    background: #070012;
    grid-area: section;
}
.Expolore
{
    grid-area: Expolore;
    background-color: #070012;
}
.cont
{
    background-color: #070012;
    grid-area: cont;
}
.profile
{
    background-color: #070012;
    grid-area: profile;

}
.test11
{
    background: linear-gradient(180deg, #FF3B22 -50%, rgba(217, 217, 217, 0) 100%);
}
.test2
{
    background: linear-gradient(180deg, #FFE500 -50%, rgba(217, 217, 217, 0) 100%);
}
.test3
{
    background: linear-gradient(180deg, #43C7FF -50%, rgba(217, 217, 217, 0) 100%);
}   
.test4
{
    background: linear-gradient(180deg, #05FF00 -50%, rgba(217, 217, 217, 0) 100%);
}
.test5
{
    background: rgba(65, 66, 67, 0.3);
}

.hovring
{
    color: #414243
}
.hovring:hover
{
   color: white;
}

.div_navbar {
    position: absolute;
    width: 95%;
    border-bottom: 45px solid transparent;
    border-top: 45px solid transparent;
    border-right: 75px solid #4142434D;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}


.active_bar {
    width : 50%;
}

.line_navbar {
    position: absolute;
    width: 5%;
    left: 95%;
    height: 100%;
    top: 0;
    background-color: #4142434D;
    z-index: 1;
    
}

.Compass_icon {
    width: 24px;
    height: 24px;
}

.Add_icon {
    width: 30px;
    height: 30px;
}

.nav_hover {
    transition: 0.7s;
}
.nav_hover:hover {
    border-radius: 50%;
    filter:drop-shadow(0px 0px 0.1vw #fff4f4) drop-shadow(0px 0px 0.1vw #222222);
}

.active {
    border-radius: 50%;
    filter:drop-shadow(0px 0px 0.1vw #ffffff) drop-shadow(0px 0px 0.1vw #ffffff);
}
@media (max-width: 768px) {
    .container_page
    {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100px repeat(9, 1fr);
        grid-template-rows: 50px auto 50px;
        grid-template-areas: 
        "chanel search search search search search section section section section"
        "chanel cont cont cont cont cont cont cont cont cont"
        "chanel Expolore Expolore Expolore Expolore Expolore Expolore Expolore Expolore Expolore";
    }
    .chatsection {
        width: 100%;
        height: 100vh;
        display: grid;
        background: #070012;
        grid-template-columns: 100px repeat(9, 1fr);
        grid-template-rows: 50px auto;
        grid-template-areas: 
         "chanel search search search search search section section section section"
         "chanel Chat Chat Chat Chat Chat Chat  Chat Chat Chat";
    }
    .profile
    {
        display: none;
    }

}
@media (min-width: 769px) and (max-width:1300px)
{
    .container_page
    {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100px repeat(9, 1fr) ;
        grid-template-rows: 50px auto 100px;
        grid-template-areas: 
        "chanel search search search search search section section section section"
        "chanel cont cont cont cont cont cont  cont cont cont"
        "chanel Expolore Expolore Expolore Expolore Expolore Expolore  Expolore Expolore Expolore";
    }
    .chatsection {
        width: 100%;
        height: 100vh;
        display: grid;
        background: #070012;
        grid-template-columns: 100px repeat(9, 1fr);
        grid-template-rows: 50px auto;
        grid-template-areas: 
         "chanel search search search search search section section section section"
         "chanel Chat Chat Chat Chat Chat  Chat  Chat Chat Chat";
    }
}
::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: #a19d9d73;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
    background: #00000000;
}


.scroll::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: #00000000;
}