.custom-select {
    position: relative;
    display: inline-block;
}
.custom-select select {
	appearance: none;
}

.custom-select::after {
    content: '\⌄'; 
    position: absolute;
    top: 40%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
  }
