
.Play_div {
    position: relative;
    width: 80%;
    height: 70%;
    background-color: #1A1C21;
    border-radius: 26px;
    backdrop-filter: blur(25px);
    overflow: hidden;
}

.Play_div svg {
    position: absolute;
    width: 100%;
    /* background-color: #43C7FF; */
    /* height: 200%; */
    transition: 0.5s;

    z-index: 1;
}



/* .Play_div svg path {
    backdrop-filter: blur(25px);
} */

/* .Play_div svg:hover {
    top: 1.5vw;
} */


.circle1 {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(173, 0, 255, 0.5);
    mix-blend-mode: normal;
    opacity: 0.4;
    filter: blur(200px);
    border-radius: 50%;
    top: -50px;
    left: -60px;
    z-index: 2;
    transition: 0.5s;
}

.circle2 {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(173, 0, 255, 0.5);
    mix-blend-mode: normal;
    opacity: 0.4;
    filter: blur(200px);
    border-radius: 50%;
    top: -50px;
    right: -60px;
    z-index: 2;
    transition: 0.5s;
}

.header_play {
    @apply font-sora font-bold text-[35px] leading-[44px] text-[#fff] tracking-[0.025em]
desktop:text-[35px] desktop:leading-[44px] desktop:tracking-[0.025em]
    laptop:text-[30px] laptop:leading-[38px] laptop:tracking-[0.025em]
    Large-phone:text-[30px] Large-phone:leading-[32px] Large-phone:tracking-[0.025em]
    phone:text-[25px] phone:leading-[26px] phone:tracking-[0.025em]

}
.parag_play {
    @apply font-sora font-normal text-[#fff] text-[0.9em] leading-[18px] transition-[0.5s]
    desktop:text-[0.9em] desktop:leading-[18px]
    laptop:text-[0.8em] laptop:leading-[16px]
    Large-phone:text-[0.8em] Large-phone:leading-[16px]
    phone:text-[0.7em] phone:leading-[14px]
}