@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
	background-color: #171926;
}
.test
{
	position: fixed;
    top: -100px;
	right: 0;
    width: 225px;
    height: 390px;
    border-radius: 0px 0px 135px 135px;
    transform: rotate(40.1deg);
	/* border: 14px solid linear-gradient(rgba(100, 10, 10, 1)); */
    background: #171926;
}
.test__one
{
	position: fixed;
    width: 76px;
    height: 200px;
    background: #171926;
    border-radius: 0px 0px 135px 135px;
    right: 0;
    top: 17%;
    transform: rotate(42.1deg);
}
.test__tow
{
	border-radius: 0px 0px 135px 135px;
	transform: rotate(38.1deg);
	position: fixed;
    top: -50px;
    left: 1190px;
    width: 93px;
    height: 190px;
    background: #171926;

}

.test__tree
{
	width: 93px;
    height: 190px;
	position: fixed;
	top: 90%;
	left: 700.75px;
	border-radius: 0px 0px 135px 135px;
	transform: rotate(-143.55deg);
	background: #171926;
}

.a
{
	position: fixed;
    top: 1000px;
    width: 225px;
    height: 390px;
    border-radius: 0px 0px 135px 135px;
	/* border: 14px solid linear-gradient(rgba(100, 10, 10, 1)); */
    background: #FF3B22;
	transform: rotate(-140.9deg);	
}
.b
{
	position: fixed;
	width: 91px;
    height: 190px;
    background: #FF3B22;
	border-radius: 0px 0px 135px 135px;
	top: 900px;
	left: -23px;
	transform: rotate(-140.1deg);
}
.c
{
	width: 91px;
    height: 190px;
	position: fixed;
	top: 90%;
	left: 255px;
	border-radius: 0px 0px 135px 135px;
	transform: rotate(-143.55deg);
	background: #FF3B22;
}