@tailwind base;
@tailwind components;
@tailwind utilities;


#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width : 100%;
    height: 60%;
}

.doc1 {
    float: left;
    width : 50%;
    height: 100%;
}

.doc2 {
    float: right;
    width : 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.div1 {
    width: 20%;
    height: 100%;
}

.div1 img {
    width: 40%;
}

.div2 {
    width: 60%;
    height: 100%;
}

.div3 {
    width: 20%;
    height: 100%;
}


.bck {
    position: absolute;
    width: 270px;
    height: 400px;
    top: 0;
    display: flex;
    justify-content : space-between;
}

.cyl1 {
    width: 60px;
    height: 140px;
    background-color: #AFAFAF;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.cyl2 {
    width: 60px;
    height: 180px;
    background-color: #FF3B22;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cyl3 {
    width: 60px;
    height: 80px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cyl4 {
    width: 60px;
    height: 110px;
    background-color: #AFAFAF;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;

}


.custom-shape-divider-bottom-1684173583 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1684173583 svg {
    position: relative;
    display: block;
    width: calc(205% + 1.3px);
    height: 310px;
}

.custom-shape-divider-bottom-1684173583 .shape-fill {
    fill: #FF3B22;
}


.eclipse1 {
    position: absolute;
    width: 280px;
    bottom : 75px;
    overflow: hidden;
    left: 30px;

}

.eclipse2 {
    transform: scaleX(-1);
    position: absolute;
    width: 280px;
    bottom : 155px;
    overflow: hidden;
    right: 30px;

}


/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .eclipse2 {
        display: none;
    }
    .eclipse1 {
        position: absolute;
        width: 150px;
        bottom : 70px;
        overflow: hidden;
        left: 25px;

    }
    .custom-shape-divider-bottom-1684173583 svg {
        width: calc(200% + 1.3px);
        height: 320px;
    }
    .doc1 {
        width : 100%;
        height: 100%;
    }
    
    .doc2 {
        display: none;
    }
}

@media (min-width: 768px) {

    .custom-shape-divider-bottom-1684173583 svg {
        width: calc(200% + 1.3px);
        height: 260px;
    }
}

@media (max-width: 768px) {
    .bck {
        display: none;
    }

    .eclipse2 {
        display: none;
    }

    .doc1 {
        width : 100%;
        height: 100%;
    }
    .doc2 {
        display: none;
    }
    .eclipse1 {
        position: absolute;
        width: 100px;
        bottom : 60px;
        overflow: hidden;
        left: 10px;
    }
    .custom-shape-divider-bottom-1684173583 svg {
        width: calc(260% + 1.3px);
        height: 240px;
    }
}
