@tailwind base;
@tailwind components;
@tailwind utilities;



.Login
{
	@apply w-[378px] h-[475px] bg-white absolute z-[100] right-[55%] bottom-[35%] rounded-[20px]
						phone:w-[270px] phone:h-[300px] phone:right-[17%] phone:bottom-[20%]
						Large-phone:w-[300px] Large-phone:h-[340px] Large-phone:right-[30%] Large-phone:bottom-[25%]
						laptop:w-[350px] laptop:h-[370px] laptop:right-[40%] laptop:bottom-[20%]
						desktop:w-[378px] desktop:h-[475px] desktop:right-[50%] desktop:bottom-[25%]
}
.Login_join_text
{
	@apply absolute text-[25px] left-[70px] top-[20px] font-ibm-plex-sans-kr font-semibold
			phone:text-[15px] phone:left-[70px]
			Large-phone:text-[18px] Large-phone:left-[75px]
			laptop:text-[20px] laptop:left-[90px]
}

.Login_sign_text
{
	@apply text-[25px] absolute top-[40%] left-[25%] font-ibm-plex-sans font-semibold
			phone:text-[15px] phone:left-[75px] phone:top-[110px]
			Large-phone:text-[18px] Large-phone:left-[80px] Large-phone:top-[140px]
			laptop:text-[20px] laptop:left-[95px] laptop:top-[140px]
}

.Emoji
{
	@apply absolute left-[150px] top-[70px]
			phone:top-[55px] phone:left-[110px]
			Large-phone:top-[60px] Large-phone:left-[120px]
			laptop:top-[60px] laptop:left-[140px]
}
.Emoji_icone
{
	@apply w-[90px] h-[90px] rounded-[50%] shadow-shdow
			phone:w-[45px] phone:h-[45px] phone:left-[70px]
			Large-phone:w-[65px] Large-phone:h-[65px] Large-phone:left-[70px]
			laptop:w-[65px] laptop:h-[65px] laptop:left-[70px]
}

.Intra_button
{
	@apply w-[325px] h-[55px] bg-Sky rounded-[30px] absolute top-[55%] left-[8%]
			hover:border-[2px] hover:border-green hover:border-solid
			phone:w-[150px] phone:h-[30px] phone:left-[60px] phone:top-[160px]
			Large-phone:w-[200px] Large-phone:h-[40px] Large-phone:left-[50px] Large-phone:top-[180px]
			laptop:w-[250px] laptop:h-[50px] laptop:left-[50px] laptop:top-[190px]
}

.Intra_text
{
	@apply text-white absolute left-[33%] top-[25%] font-medium
			phone:text-[10px] phone:left-[25%]
			Large-phone:text-[14px] Large-phone:left-[25%]
			laptop:text-[15px]
}

.Intra_icone
{
	@apply ml-[70px] 
			phone:w-[15px] phone:ml-[20px] 
			Large-phone:w-[20px] Large-phone:ml-[25px]
			laptop:w-[20px] laptop:ml-[50px]
}

.Google_button
{
	@apply w-[325px] h-[55px] bg-white rounded-[30px] absolute top-[70%] left-[8%]
			border-[1px] border-solid border-[#DADCE0]
			hover:border-[2px] hover:border-green hover:border-solid
			phone:w-[150px] phone:h-[30px] phone:left-[60px] phone:top-[200px]
			Large-phone:w-[200px] Large-phone:h-[40px] Large-phone:left-[50px] Large-phone:top-[230px]
			laptop:w-[250px] laptop:h-[50px] laptop:left-[50px] laptop:top-[250px]
}
.Google_text
{
	@apply  absolute left-[33%] top-[25%] font-medium 
			phone:text-[10px] phone:left-[25%] 
			Large-phone:text-[14px] Large-phone:left-[25%]
			laptop:text-[15px] 
}

.Google_icone
{
	@apply ml-[70px] 
			phone:w-[15px] phone:ml-[20px] 
			Large-phone:ml-[25px]
			laptop:w-[20px] laptop:ml-[50px] 
}


.go_back_icone
{
	@apply absolute top-[90%] left-[40%] w-[25px] h-[25px] 
			phone:w-[15px] phone:top-[85%] 
			Large-phone:top-[89%] Large-phone:left-[40%] Large-phone:w-[20px]
}
.go_back_text
{
	@apply absolute top-[90%] left-[48%] text-[15px] font-fredoka font-medium
	phone:text-[8px] phone:top-[87%]
	Large-phone:top-[90%] Large-phone:text-[11px]
	laptop:text-[15px]
}


.svg_img
{
	@apply absolute h-[100%] right-[0] object-cover max-w-none
			phone:left-[40%] 
			Large-phone:left-[50%]
			laptop:left-[57%]
			desktop:left-[55%]
}

.svg_text
{
	@apply z-10 text-white absolute right-[5%] top-[30%] text-[50px] w-[470px] duration-500 font-lato font-extrabold
			phone:left-[50%] phone:text-[20px] phone:w-[190px] phone:top-[18%]
			Large-phone:text-[20px] Large-phone:w-[200px] Large-phone:top-[18%] Large-phone:left-[64%]
			laptop:text-[25px] laptop:w-[210px] laptop:top-[20%] laptop:left-[67%]
			desktop:left-[62%] desktop:text-[40px] desktop:w-[400px]
}
